In [27]:
import pandas as pd 
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [28]:
df=pd.read_csv('train (2).csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [29]:
label_encoder=preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(df['Sex'])
tree_model=tree.DecisionTreeClassifier()

Model1 = DV- survived and IDV - Sex

In [30]:
tree_model.fit(X=pd.DataFrame(encoded_sex),y=df["Survived"])

DecisionTreeClassifier()

In [31]:
with open('DT1.dot','w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Sex'],out_file=f);

In [33]:
tree_model.score(X=pd.DataFrame(encoded_sex),y=df['Survived'])

0.7862767154105736

Model 2 = DV- survived and IDV - Sex AND Pclass

In [34]:
predictors=pd.DataFrame([encoded_sex,df['Pclass']]).T

In [35]:
tree_model.fit(X=predictors,y=df['Survived'])

DecisionTreeClassifier()

In [36]:
with open('DT2.dot','w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Sex','Pclass'],out_file=f);

In [37]:
tree_model.score(X=predictors,y=df['Survived'])

0.7862767154105736

Model 3 = DV- survived and IDV - Sex,Pclass,Age and Fare

In [38]:
predictors=pd.DataFrame([encoded_sex,df['Pclass'],df['Age'],df['Fare']]).T

In [39]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [40]:
tree_model.fit(X=predictors,y=df['Survived'])

DecisionTreeClassifier(max_depth=8)

In [41]:
with open('DT3.dot','w')as f:
        f=tree.export_graphviz(tree_model,feature_names=['Sex','Pclass','Age','Fare'],out_file=f);

In [42]:
tree_model.score(X=predictors,y=df['Survived'])

0.8976377952755905

In [44]:
df1=pd.read_csv('test (1).csv')

In [45]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
df1.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [49]:
label_encoder=preprocessing.LabelEncoder()
encoded_sex_test=label_encoder.fit_transform(df1['Sex'])
test_features=pd.DataFrame([encoded_sex_test,df1['Pclass'],df1['Age'],df1['Fare']]).T

In [50]:
test_preds=tree_model.predict(X=test_features)

In [51]:
result=pd.DataFrame({'PassengerId':df1['PassengerId'],'Survived':test_preds})

In [53]:
result.to_csv('DecisionTreeResult.csv',index=False)

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
df=pd.read_csv('train (2).csv')

In [56]:
label_encoder=preprocessing.LabelEncoder()
df['Sex']=label_encoder.fit_transform(df['Sex'])
df['Embarked']=label_encoder.fit_transform(df['Embarked'])
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [57]:
features=['Sex','Pclass','SibSp','Embarked','Age','Fare']

In [59]:
rf_model.fit(X=df[features],y=df['Survived'])

RandomForestClassifier(max_features=2, n_estimators=1000, oob_score=True)

In [62]:
print('OOB Accuracy')
print(rf_model.oob_score_)

OOB Accuracy
0.8110236220472441

In [66]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Sex 0.26880379196453036
Pclass 0.08746289503066088
SibSp 0.05278151399242198
Embarked 0.034009621308675346
Age 0.2707024257909183
Fare 0.28623975191279316

In [68]:
predictors=pd.DataFrame([encoded_sex,df['Age'],df['Fare']]).T
tree_model=tree.DecisionTreeClassifier(max_depth=6)
tree_model.fit(X=predictors,y=df['Survived'])

DecisionTreeClassifier(max_depth=6)

In [69]:
with open('DT4.dot','w') as f:
     f=tree.export_graphviz(tree_model,feature_names=['Sex','Age','Fare'],out_file=f);

In [71]:
tree_model.score(X=predictors,y=df["Survived"])

0.829021372328459

In [72]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)
tree_model.fit(X=predictors,y=df['Survived'])
with open('DT4.dot','w') as f:
     f=tree.export_graphviz(tree_model,feature_names=['Sex','Age','Fare'],out_file=f);
tree_model.score(X=predictors,y=df["Survived"])

0.8706411698537683