In [2]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('SVMtrain.csv')

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [5]:
df1=df.drop(['PassengerId'],axis=1)

In [7]:
df1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    Male  22.0      1      0   7.2500         3
1         1       1  female  38.0      1      0  71.2833         1
2         1       3  female  26.0      0      0   7.9250         3
3         1       1  female  35.0      1      0  53.1000         3
4         0       3    Male  35.0      0      0   8.0500         3

In [12]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [14]:
le=preprocessing.LabelEncoder()
le.fit(df1['Sex'])
LabelEncoder()
print(le.classes_)

['Male' 'female']

In [15]:
df1['Sex']=le.transform(df1['Sex'])

In [16]:
df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         3
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         3
3         1       1    1  35.0      1      0  53.1000         3
4         0       3    0  35.0      0      0   8.0500         3

In [27]:
y=df1['Pclass']
x=df1.drop(['Pclass'],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
knn=neighbors.KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train).score(x_test,y_test)

0.8539325842696629

In [28]:
y_pred=knn.predict(x_test)
confusion_matrix(y_test,y_pred)

array([[ 60,   6,   4],
       [  7,  27,  15],
       [  3,   4, 141]], dtype=int64)

In [25]:
y=df1['Survived']
x=df1.drop(['Survived'],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
knn=neighbors.KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train).score(x_test,y_test)

0.6704119850187266

In [26]:
y_pred=knn.predict(x_test)
confusion_matrix(y_test,y_pred)

array([[117,  40],
       [ 48,  62]], dtype=int64)

In [29]:
y=df1['Sex']
x=df1.drop(['Sex'],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
knn=neighbors.KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train).score(x_test,y_test)

0.6591760299625468

In [30]:
y_pred=knn.predict(x_test)
confusion_matrix(y_test,y_pred)

array([[126,  43],
       [ 48,  50]], dtype=int64)